<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mydomain.moshelperunroot">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Disable root check in Moscow Helper ru.mos.helper" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
